.course-cards{

    height: 100%;
}
.course-img{
    height: 276px;
}
.course-btn{
    margin: 10px;
    padding: 5px 25px;
    border-radius: 9px;
    border: 1px solid gray;
}
.prices{
    color:indianred;
}