.footer{
    background-color: #002147;
    
}
.footer-useFull-links{
    list-style: none;
    font-weight: 600;
    color: white;
}
.footer-useFull-links li:hover{
    color: #fdc800;
}
.footer-info:hover{
    color: indianred;
}
.study-info:hover{
    color: #fdc800;
}
.fa-facebook{
    padding-right: 5px;
}
.fa-instagram{
    padding-right: 5px;
}
.fa-wikipedia-w{
    padding-right: 5px;
}
.fa-google-plus-g{
    padding-right: 6px;
}